<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['']"><img alt="..."src="http://drive.google.com/uc?export=view&id=1Yi2VU0BiA9Vfu-EDgEoGerM3JPnCsLre"></a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['about']">About</a>
                </li>
                <li>
                <div class="dropdown">
                    <button class="dropbtn">Statistics 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a [routerLink]="['StatisticsCurrent']" *ngIf="loggedIn">current</a>
                      <a [routerLink]="['StatisticsPrevious']">Previous</a>
                    </div>
                  </div> </li>
                <li class="nav-item1">
                    <a class="nav-link" [routerLink]="['about']">Programs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['about']">Learning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['exam-list']">Drives</a>
                </li>
                <li class="nav-item" *ngIf="!!!loggedIn">
                    <a class="btn btn-primary btn-lg" [routerLink]="['login']">Login</a>
                </li>
                <li class="nav-item" *ngIf="loggedIn">
                    <button class="btn btn-primary btn-lg " (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
