
  /* ABOUT GRADUATION IMAGE */
  .containergraduation {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 30%;
	width: 90%;
  }
  
  img {
	padding-top: 2%;
	max-width: 90%;
	max-height:100%;
	padding-left: 10%;
  }
  
  .graduationtext {
	width: 90%;
	font-size: 15px;
	
  }
  /* ABOUT BGIMG WITH YEXT */
  .padded-multiline { 
	background: url(http://drive.google.com/uc?export=view&id=1hQWwjgh2KxKod0Le4D5KvzThrXxLUnho);
	line-height: 1.4; 
	padding: 120px 50px 50px 50px;
	width: 100%;
	max-height: 100%;
	margin: 20px auto;
  }
  .padded-multiline span { 
	background-color: black;
	color: #fff; 
	display: inline;
	padding: 0.5rem;
	
	/* Needs prefixing */
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
  }


  /* tpo information */
  .staff {
	float: left;
	width: 33.33%;
	padding: 5px;
  }
  
  .tnpinfo{
	text-align: center;
  }
  .imageinfo::after {
	content: "";
	clear: both;
	display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
	.column {
	  width: 100%;
	}
  }

  body {
    padding-top: 10%;
}