<div class="logindetails">
    <div class="login-box" >
        <h2>Welcome back</h2>
        <p>Enter your details</p>
    
        <form>
            <div class="form-group">
                <label for="id">Name</label>
                <i class="fa-solid fa-user"></i>
                    <input type="text" id="email" placeholder="john doe"  required>
            </div>
            <div class="form-group">
                <label for="id">ID</label>
                <i class="fa-solid fa-user"></i>
                    <input type="text" id="email" placeholder="id"  required>
            </div>
            <div class="form-group">
                <label for="id">Email</label>
                <i class="fa-solid fa-user"></i>
                    <input type="text" id="email" placeholder="john@gmail.com"  required>
            </div>
            
             <div class="form-group">
                <label for="password">Password</label>
                <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" placeholder="Your password" formControlName="password" required>
             </div>
             <div class="form-group">
                <label for="id">Confirm Password</label>
                <i class="fa-solid fa-user"></i>
                    <input type="text" id="email" placeholder="Enter Password"  required>
            </div>
             <button type="submit" style="background-color:blue; border-color: blue; border-radius: 15%;   color: white; padding: 4%; margin-left: 40%;">Create User</button>
        </form>
            <div>
            </div>
    </div>
</div>