<div style="padding-left:20%;padding-right:20%;padding-top: 6%;padding-bottom: 4%;">
    <div class="login-box" >
        <h2>Create Exam</h2>
        <p>Enter your details</p>
    
        <form  [formGroup]="createExamForm" (ngSubmit)='onSubmit()' autocomplete="off">

            <div class="mb-3">
                <label for="formGroupOption1" class="form-label">Title</label>
                <input type="text" class="form-control" id="formGroupOption1" placeholder="Title" formControlName="title" required>
                </div>
            <div class="mb-3">
                <label for="formGroupOption2" class="form-label">Company Name</label>
                <input type="text" class="form-control" id="formGroupOption2" placeholder="Company Name" formControlName="cName"required>
                </div>
            <div class="mb-3">
                <label for="formGroupOption3" class="form-label">Image Link</label>
                <input type="text" class="form-control" id="formGroupOption3" placeholder="Image Link" formControlName="imgLink"required>
                </div>
            <div class="mb-3">
                <label for="formGroupOption4" class="form-label">description</label>
                <input type="text" class="form-control" id="formGroupOption4" placeholder="description" formControlName="description"required>
                </div>
            <div class="mb-3">
                <label for="formGroupAnswer" class="form-label">Total No Of Question</label>
                <input type="text" class="form-control" id="formGroupAnswer" placeholder="Total No Of Question" formControlName="totalNoOfQ"required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg float-end">Sumbit</button>
        </form>
    </div>
</div>